
body, html {
	-webkit-font-smoothing: antialiased;
	font-family: 'Droid Sans', Helvetica, sans-serif;
	background: #000;
	letter-spacing: -2px;
	color: #fff;
	font-size: 2em;
	line-height:0.9em;
}

ul, li {
	padding:0;
	margin:0;
}

ul {
    list-style-type: none;
}

.forecast-table {
	width: 100%;
}

#weather_forecast {
	font-size: 0.5em;
}
#weather_forecast td {
	margin: 0px auto;
}

#calendar_holidays {
	font-size: 0.5em;
	color: #aaa;
	letter-spacing: -1px;
	line-height: 1em;
}

#newsFeed {
	text-align: center;
	color: #aaa;
	line-height:1.4em;
	
	font-size: .7em;
	letter-spacing: -1px;
}
#newsFeed li{
	margin-left: auto;
	margin-right: auto;
}
#newsFeed li:first-child {
	color: #fff;
	font-size: 1.3em;
	margin-bottom: 15px;
}

/*
**	Weather Icons
*/

.icon-small
{
	position: relative; 
	top: -0.2em;
	left: 4px;
	font-size: 80%;
}

.icon-padded-right
{
	padding-right: 20px;
}

.clock-icon {
font-size: 20px;
}

/*
**	Text sizing
*/

.small
{
font-size: 25px;
letter-spacing: 0px;
}
.small .wi {
line-height: 25px;
}
.medium
{
font-size: .5em;
letter-spacing: -1px;
}
.medium .wi {
line-height: .5em;
}


/*
**	Grid Positioning
*/

.middle-third
{
position: absolute;
top: 33.333%;
line-height: 100px;	
width: 100%;
}
.lower-third
{
position: absolute;
top: 66.666%;
width: 100%;
}

.fullWidth {
	width: 100%;
}
.fullWidth:after {
  content: "";
  display: table;
  clear: both;
}

/*
**	Text Positioning
*/

.align-right {
text-align: right;
}

.align-center {
text-align: center;
}

.align-bottom {
vertical-align: bottom;
}


/*
**	Text Color
*/

.dimmed
{
color: #aaa;
}
